body {
	font-style: "Lato", Helvetica;
}

h1 {
	display: inline;
}

header {
	background: #3498db;

}

a {
	color: #d35400;
}
a:hover,
a:focus {
	color: #e67e22;
	text-decoration: none;
}

hr {
	margin: 0;
}

.lead{
	  font-size: 24px;
}

.link-menu {
	color: white;
}

.caleta-logo {
	font: 900 90px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 10px 0 0px 0;
	/*  color: #E74C3C;*/
	color: white;
	font-weight: 300;
}

.caleta-tagline {
	font-weight: 500;
	color: #efefef;
}

.caleta-headline {
	padding: 25px 0 25px 0;
	text-align: center;
}

.explicacion {
	text-align: center;
	line-height: 1em;
	padding: 0px 80px 35px 80px;

}

.nav-caletas {
	background: #34495e;
	text-align: center;
	color: white;
margin: 0;
}

.ul-menu {
	margin: 0 0 0 -25px;

 }
.li-menu {
	display: inline;
	list-style: none;
	padding: 10px 20px 10px 0;
}


.secciones {
	position: inherit;
	margin: 0;
	padding: 60px 60px 30px 60px;	
}

.secciones:hover {
	background: #f9f9f9;
  -webkit-transition: 0.5s;
  transition: 0.5s;

}
.seccion-uno:hover {

	/*	background: #3498DB;*/
	/*	border-top: 1px solid #95A5A6;*/
}



}
.seccion-dos{
	/*	background: #2ECC71;*/
	/*		border-top: 1px solid #95A5A6;*/
}

.seccion-tres {
	/*	background: #E67E22;*/
	/*		border-top: 1px solid #95A5A6;*/
}


.footer {
	padding-top: 20px;
	height: 100px;
	text-align: center;
	background: #ECF0F1;

}
p.footer {
	font-weight: 100;
}