body {
	  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  color: #34495e;
  background-color: #ffffff;
}


p {
  font-size: 18px;
  line-height: 1.72222;
  margin: 0 0 15px;
}
h2 {
	font-weight: 700;
	display: inline;
	 font-size: 37px;
}


.lead {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.46428571;
  font-weight: 300;
}


header {
	background: #e51f25;
}

a {
	color: #d35400;

  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

a:hover,
a:focus {
	color: #e67e22;
	text-decoration: none;
}

hr {
	margin: 0;
}

.lead{
	font-size: 24px;
}

.link-menu {
	color: black;
}

.caleta-head {
	padding: 25px 0 25px 0;
	text-align: center;
}

.caleta-logo {
width: 100%;
padding: 0 0 10px;	
}

.caleta-tagline {
	font-weight: 100;
	color: #efefef;
	font-size: 16pt;
	margin: 0;
}

.explicacion {
	padding: 0px 80px 35px 80px;
	color: white;
	font-size: 24pt;
	text-align: center;
}

.nav-caletas {
	background: #efefef;
	text-align: center;
	margin: 0;
}

.ul-menu {
	margin: 0 0 0 -25px;

}
.li-menu {
	display: inline;
	list-style: none;
	padding: 10px 20px 10px 0;
}


.secciones {
	position: inherit;
	margin: 0;
	padding: 60px 60px 30px 60px;	
}

.secciones:hover {
	background: #f9f9f9;
	-webkit-transition: 0.5s;
	transition: 0.5s;

}
.seccion-uno:hover {

	/*	background: #3498DB;*/
	/*	border-top: 1px solid #95A5A6;*/
}



}
.seccion-dos{
	/*	background: #2ECC71;*/
	/*		border-top: 1px solid #95A5A6;*/
}

.seccion-tres {
	/*	background: #E67E22;*/
	/*		border-top: 1px solid #95A5A6;*/
}


.footer {
	padding-top: 20px;
	height: 100%;
	text-align: center;
	background: #ECF0F1;

}
p.footer {
	font-weight: 100;

}


@media (max-width: 480px)  {
	.explicacion {
		text-align: center;
		line-height: 1em;
		padding: 0px 20px 35px 20px;
}

.li-menu {
	display: block;

	}

.caleta-tagline {
line-height: 1em;
padding: 10px 20px 0 20px;
}

