<!DOCTYPE html>
<html lang="en">
<body>
    <head>
        <meta charset="utf-8">
        <title>Caletas - Guía para ver páginas bloqueadas.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
      

        <!-- Loading Bootstrap -->
        <!-- <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"> -->

        <!-- Loading Flat UI -->
        <!--         <link href="css/flat-ui.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="css/normalize.css" />

        <!-- 
        <script src="js/vendor/custom.modernizr.js"></script>

 -->        <!-- Loading Custom CSS -->
        <link href="css/style.css" rel="stylesheet">

        <!-- <link rel="shortcut icon" href="images/favicon.ico"> -->


  </head>


  <header>
    <!-- Título -->


    <div class="caleta-head">

        <a href="index.html"><img class="caleta-logo" src="images/logo.png" alt="Logo Caletas">
        <p class="caleta-tagline">El conocimiento es libertad; accede a ambos.</p>
    </div>

    <!-- Explicación -->

    <div class="explicacion">
        <p>Ver páginas bloqueadas es más fácil de lo que crees.<br>Te damos 4 opciones que van de simple a menos simple.<br>Si no te sirve una, intenta con la siguiente.</p>

    </div>

</header>
<nav class="nav-caletas">
    <ul class="ul-menu">
        <li class="li-menu"><a class="link-menu" href="#1">1. GOOGLE</a></li>
        <li class="li-menu"><a class="link-menu" href="#2">2. DNS</a></li>
        <li class="li-menu"><a class="link-menu" href="#3">3. VPN</a></li>
        <li class="li-menu"><a class="link-menu" href="#4">4. TOR</a></li>
        <li class="li-menu"><a class="link-menu" href="#5">5. MENSAJEROS</a></li>
    </ul>
</nav>


<!--     <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
                  <ul class="nav navbar-nav navbar-left">      

                    <li><a href="#google">google</a></li>
                    <li><a href="#DNS">dns</a></li>
                    <li><a href="#VPN">vpn</a></li>
                    <li><a href="#DNS">tor</a></li>

                </ul>

            </nav>

        </div>
    </div>
</div>
-->
